p{
    font-size: 50px;
    color: #A8925D;
}
body{
    margin: 0; 
    height: 100vh;
    position: relative;
    background-color: #143132;
}
img{
height: 280px;
width: 280px;

position: absolute; 
top: 22%; 
left: 50%; 
transform: translate(-50%, -50%); 

}